{% extends "base.html" %}
{% block title %}
  <title>Comments</title>
{% endblock %}
{% block content %}
  {% for comment in comments %}
    <div>
      {{ comment.author }} - {{ comment.text }}
      {% if comment.author.id == user.id %}
        <a href="{% url 'cat_network:comment-update' pk=comment.id %}">Update Comment</a>
        <a href="{% url 'cat_network:comment-delete' pk=comment.id %}">Delete Comment</a>
      {% endif %}
    </div>
  {% endfor %}
  <a href="{% url 'cat_network:comment-create' pk=post.id %}">Create Comment</a>
{% endblock %}