{% extends "base.html" %}
{% block title %}
  <title>{{ post.title }}</title>
{% endblock %}

{% block content %}
  <div>
    <h2>{{ post.title }}</h2>
    {% if post.image %}
      <img src="{{ post.image.url }}" alt="">
    {% endif %}
    <p>{{ post.body }}</p>
    <div>
      <div>
        <form method="post" action="{% url 'cat_network:toggle-like' %}">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="{{ post.id }}">
          {{ like_form }}
          <button type="submit">
              {% if post.id in user_liked_posts %}
                  🩷
              {% else %}
                  🖤
              {% endif %}
              {{ post.like_set.count }}
          </button>
        </form>
        <a href="{% url 'cat_network:comment-list' pk=post.id %}">💬 {{ post.comment_set.count }}</a>
      </div>
    </div>
  </div>
{% endblock %}