{% extends "base.html" %}
{% block title %}
  <title>Posts</title>
{% endblock %}

{% block content %}
  <form method="get" action="" class="form-inline">
    {{ search_form.as_p }}
    <input type="submit" value="👀">
  </form>
  <h1>All Posts:</h1>
  <a href="{% url 'cat_network:post-create' %}">Create New Post</a>
  {% for post in post_list %}
    <div id="post-{{ post.id }}">
      <h2><a href="{% url 'cat_network:post-detail' pk=post.id %}">{{ post.title }}</a></h2>
      {% if post.image %}
        <img src="{{ post.image.url }}" alt="" width="300px">
      {% endif %}
      <div>
        <form method="post" action="{% url 'cat_network:toggle-like' %}">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="{{ post.id }}">
          {{ like_form }}
          <button type="submit">
              {% if post.id in user_liked_posts %}
                  🩷
              {% else %}
                  🖤
              {% endif %}
              {{ post.like_set.count }}
          </button>
        </form>
        <a href="{% url 'cat_network:comment-list' pk=post.id %}">💬 {{ post.comment_set.count }}</a>
      </div>
    </div>
  {% endfor %}
  
{% endblock %}