body {
  background-color: #fdf1f1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  color: #391901;
}

a {
  color: #391901;
}

.container-fluid {
  display: flex;
  flex: 1;
  height: 100%;
}

.sidebar {
  background-color: #ffe4e1;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar a {
  text-decoration: none;
  font-weight: bold;
}

.sidebar a:hover {
  color: #e994ac;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 270px;
}

footer {
  background-color: #ffe4e1;
  color: #4a4a4a;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}

.navbar {
  background-color: #ffe4e1;
}

.btn-lavender {
  background-color: #e994ac;
  color: white;
}

.btn-lavender:hover {
  background-color: #e994ac;
}

.nav-item button {
  background-color: transparent;
  border: none;
}

.navbar-nav {
    gap: 1rem;
}

.navbar-brand, .nav-link {
    color: #391901;
}

.nav-link:hover {
    color: #ffe4e1;
}

.bg-color {
    background: #fdf1f1;
}